<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Select topic to display their webpages</h1>
        <form  method="POST">
            {% csrf_token %}
            <label for="topics">topic_name</label>
            <select name="topics" id="topics" multiple>
                {% for eo in wo %}
                <option value="{{eo.topic_name}}">{{eo.topic_name}}</option>
                {% endfor %}
            </select><br><br>
            <input type="submit" value="submit topic">
        </form>
    </center>
</body>
</html>